.idea
example/ddl/dao/
example/doudou/dao/
**/cover.out
**/coverage.txt
cmd/testdata/testsvc/cmd/cmd
coverage.out
resources
cmd/internal/openapi/v3/codegen/testdata/mytest
.cursorrules
.cursorignore
.vscode/