{{`{{`}}define "NoneZeroSet"{{`}}`}}
	{{- range $i, $co := .UpdateColumns}}
	{{- if or (eq $co.Meta.Type "time.Time") (eq $co.Meta.Type "*time.Time")}}
	{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | FormatTime{{`}}`}}',
	{{`{{`}}- end{{`}}`}}
	{{- else if or (eq $co.Meta.Type "bool") (eq $co.Meta.Type "*bool")}}
	{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | BoolToInt{{`}}`}}',
	{{`{{`}}- end{{`}}`}}
	{{- else}}
	{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}}{{`}}`}}',
	{{`{{`}}- end{{`}}`}}
	{{- end}}
	{{- end}}
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Insert{{.DomainName}}"{{`}}`}}
INSERT INTO `{{.Schema}}`.`{{.DomainName | ToSnake}}`
({{- range $i, $co := .InsertColumns}}
{{- if $i}},{{end}}
`{{$co.Name}}`
{{- end }})
VALUES ({{- range $i, $co := .InsertColumns}}
	   {{- if $i}},{{end}}
	   :{{$co.Name}}
	   {{- end }})
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Update{{.DomainName}}"{{`}}`}}
UPDATE `{{.Schema}}`.`{{.DomainName | ToSnake}}`
SET
	{{- range $i, $co := .UpdateColumns}}
	{{- if $i}},{{end}}
	`{{$co.Name}}`=:{{$co.Name}}
	{{- end }}
WHERE
    `{{.Pk.Name}}` = ?
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Update{{.DomainName}}NoneZero"{{`}}`}}
UPDATE `{{.Schema}}`.`{{.DomainName | ToSnake}}`
SET
    {{`{{`}}Eval "NoneZeroSet" . | TrimSuffix ","{{`}}`}}
WHERE
    `{{.Pk.Name}}`='{{`{{`}}.{{.Pk.Meta.Name}}{{`}}`}}'
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Upsert{{.DomainName}}"{{`}}`}}
INSERT INTO `{{.Schema}}`.`{{.DomainName | ToSnake}}`
({{- range $i, $co := .InsertColumns}}
{{- if $i}},{{end}}
`{{$co.Name}}`
{{- end }})
VALUES ({{- range $i, $co := .InsertColumns}}
        {{- if $i}},{{end}}
        :{{$co.Name}}
        {{- end }}) ON DUPLICATE KEY
UPDATE
		{{- range $i, $co := .UpdateColumns}}
		{{- if $i}},{{end}}
		`{{$co.Name}}`=:{{$co.Name}}
		{{- end }}
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Upsert{{.DomainName}}NoneZero"{{`}}`}}
INSERT INTO `{{.Schema}}`.`{{.DomainName | ToSnake}}`
({{- range $i, $co := .InsertColumns}}
{{- if $i}},{{end}}
`{{$co.Name}}`
{{- end }})
VALUES ({{- range $i, $co := .InsertColumns}}
		{{- if $i}},{{end}}
		{{- if eq $co.Meta.Type "time.Time" }}
		'{{`{{`}}.{{$co.Meta.Name}} | FormatTime{{`}}`}}'
		{{- else if eq $co.Meta.Type "*time.Time" }}
		{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
		'{{`{{`}}.{{$co.Meta.Name}} | FormatTime{{`}}`}}'
		{{`{{`}}- else{{`}}`}}
		null
		{{`{{`}}- end{{`}}`}}
		{{- else if eq $co.Meta.Type "bool" }}
		'{{`{{`}}.{{$co.Meta.Name}} | BoolToInt{{`}}`}}'
		{{- else if eq $co.Meta.Type "*bool" }}
		{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
		'{{`{{`}}.{{$co.Meta.Name}} | BoolToInt{{`}}`}}'
		{{`{{`}}- else{{`}}`}}
		null
		{{`{{`}}- end{{`}}`}}
		{{- else}}
		'{{`{{`}}.{{$co.Meta.Name}}{{`}}`}}'
		{{- end}}
		{{- end }}) ON DUPLICATE KEY
UPDATE
		{{`{{`}}Eval "NoneZeroSet" . | TrimSuffix ","{{`}}`}}
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Get{{.DomainName}}"{{`}}`}}
select *
from `{{.Schema}}`.`{{.DomainName | ToSnake}}`
where `{{.Pk.Name}}` = ?
{{`{{`}}end{{`}}`}}

{{`{{`}}define "Update{{.DomainName}}s"{{`}}`}}
UPDATE `{{.Schema}}`.`{{.DomainName | ToSnake}}`
SET
    {{- range $i, $co := .UpdateColumns}}
	{{- if $i}},{{end}}
	{{- if eq $co.Meta.Type "time.Time" }}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | FormatTime{{`}}`}}'
	{{- else if eq $co.Meta.Type "*time.Time" }}
	{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | FormatTime{{`}}`}}'
	{{`{{`}}- else{{`}}`}}
	`{{$co.Name}}`=null
	{{`{{`}}- end{{`}}`}}
	{{- else if eq $co.Meta.Type "bool" }}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | BoolToInt{{`}}`}}'
	{{- else if eq $co.Meta.Type "*bool" }}
	{{`{{`}}- if .{{$co.Meta.Name}}{{`}}`}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}} | BoolToInt{{`}}`}}'
	{{`{{`}}- else{{`}}`}}
	`{{$co.Name}}`=null
	{{`{{`}}- end{{`}}`}}
	{{- else}}
	`{{$co.Name}}`='{{`{{`}}.{{$co.Meta.Name}}{{`}}`}}'
	{{- end}}
	{{- end }}
WHERE
    {{`{{`}}.Where{{`}}`}}
{{`{{`}}end{{`}}`}}

{{`{{`}}define "UpdateUsersNoneZero"{{`}}`}}
UPDATE `{{.Schema}}`.`{{.DomainName | ToSnake}}`
SET
    {{`{{`}}Eval "NoneZeroSet" . | TrimSuffix ","{{`}}`}}
WHERE
    {{`{{`}}.Where{{`}}`}}
{{`{{`}}end{{`}}`}}



