package dao

import (
	"context"
	"{{.DomainPackage}}"
	"github.com/unionj-cloud/go-doudou/kit/ddl/query"
)

type {{.DomainName}}Dao interface {
	Upsert{{.DomainName}}(ctx context.Context, {{.DomainName | ToLower}} *domain.{{.DomainName}}) (int64, error)
	Get{{.DomainName}}(ctx context.Context, {{.PkField.Name | ToLower}} {{.PkField.Type}}) (domain.{{.DomainName}}, error)
	Delete{{.DomainName}}s(ctx context.Context, where query.Q) (int64, error)
	Page{{.DomainName}}s(ctx context.Context, where query.Q, page query.Page) (query.PageRet, error)
}
